/* ---------- BASIC PAGE STYLES ---------- */
body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

/* ---------- BACKGROUNDS FOR EACH PAGE ---------- */

/* Home page background */
.home-page {
  background-image:("home-bg.jpg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

/* History page background */
.history-page {
  background-image: url("history-bg.png");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

/* Population page background */
.population-page {
  background-image:("population-bg.png");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

/* Food page background (PNG version) */
.food-page {
  background-image: ("food-bg.png");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

/* ---------- WHITE CONTENT BOX ---------- */
.page-box {
  max-width: 1000px;
  margin: 20px auto;
  background-color: rgba(255, 255, 255, 0.9); /* slightly see-through white */
  padding: 20px;
}

/* ---------- HEADER ---------- */
header {
  text-align: center;
  color: #004b3b;
  margin-bottom: 10px;
}

.subtitle {
  margin-top: 5px;
}

/* ---------- NAVIGATIO*
